
## Gemini API KEY 
GOOGLE_GENERATIVE_AI_API_KEY=

# keep Neon credentials secure: do not expose them to client-side code
DATABASE_URL=

# Umami Analystics
NEXT_PUBLIC_UMAMI_SRC=
NEXT_PUBLIC_UMAMI_ID=